# Vendored Dependencies
Pods
bower_components
node_modules
web/app/mu-plugins
web/app/plugins
web/app/upgrade
web/app/uploads
web/wp
vendor

# OS Files
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride
.apdisk
Thumbs.db

# Testing Files
*.gemfile.lock
capybara*
pickle-email-*.html
public/uploads
rerun.txt
site/web/app/uploads
test/data

# Cache Files
*.stTheme.cache
*.tfstate
*.tmPreferences.cache
*.tmlanguage.cache
.TAGS
.byebug_history
.divshot-cache
.dropbox
.dropbox.attr
.dropbox.cache
.rake_tasks
.repl_history
.sass-cache
.tags
.yardoc
/variables.tf.json
TAGS
_yardoc
disk_image_for_*.json
disk_image_settings.json
lambdas/*.js
lambdas/*.py
lambdas/*.zip
packer_cache
public/packs*
public/system
site/web/app/upgrade
spec/reports
tags
terraform.tfvars
test/tmp
test/version_tmp
tmtags
variables.sls

!TAGS/
!tags/

# Local Compiled Files
**/cordova/platforms/android/CordovaLib/ant-build
**/cordova/platforms/android/CordovaLib/ant-gen
**/cordova/platforms/android/CordovaLib/bin
**/cordova/platforms/android/CordovaLib/gen
**/cordova/platforms/android/ant-build
**/cordova/platforms/android/ant-gen
**/cordova/platforms/android/assets/www
**/cordova/platforms/android/bin
**/cordova/platforms/android/gen
**/cordova/platforms/browser/build
**/cordova/platforms/browser/www
**/cordova/platforms/ios/build/
**/cordova/platforms/ios/www/
**/cordova/platforms/wp8/*.csproj.user
**/cordova/platforms/wp8/*.suo
**/cordova/platforms/wp8/.staging
**/cordova/platforms/wp8/bin
**/cordova/platforms/wp8/obj
**/cordova/platforms/wp8/www
**/public/stylesheets/*.css
*.a
*.css.map
*.elc
*.gem
*.hmap
*.ipa
*.o
*.rbc
*.sass.map
*.scss.map
*.so
*.xccheckout
*.xcuserdatad
DerivedData
build
build-iPhoneOS
build-iPhoneSimulator
coverage
coverage.data
dist
files/scripts/**/*.js
files/scripts/**/*.py
files/scripts/**/*.zip
out
pillars/files
pkg
profile
rdoc
target

# Local Configuration Files
**/cordova/platforms/android/CordovaLib/local.properties
**/cordova/platforms/android/local.properties
**/settings-local.yml
**/settings/*-local.yml
*.bundle
*.iml
*.ipr
*.iws
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.project
*.sublime-project
*.sublime-settings
*.sublime-workspace
*.tmproj
.Rhistory
.build
.bundle
.chamber*.enc
.chamber*.enc.pass
.chamber*.pem
.emacs.desktop
.emacs.desktop.lock
.env
.env.*
.env.*.local
.env.local
.env.yml
.foreman
.htaccess
.idea
.idea_modules
.powenv
.powrc
.pryrc
.railsrc
.rspec
.rvmrc
.secrets
.shellwreck.sh
.tern-port
.terraform
Gemfile.local
Procfile.local
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
config.yml
config/application.yml
config/database.yml
config/initializers/secret_token.rb
config/master.key
config/secrets.yml
crashlytics-build.properties
crashlytics.properties
nbproject
xcuserdata

!.circleci/config.yml
!.env.example
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3

# Temporary files
*.backup
*.bak
*.gho
*.lck
*.lock
*.log*
*.moved-aside
*.old
*.ori
*.orig
*.rs.bk
*.sqlite3
*.sqlite3-journal
*.swo
*.swp
*.tmp
*~
.\#*
.netrwhist
\#*
db-sync
dump.rdb
log
solr/*
spec/examples.txt
sql-dump-*.sql
tmp

# Vagrant
.vagrant

# Always keep chamber public keys
!.chamber*.pub.pem

# Always keep lock files
!yarn.lock
!Gemfile.lock
!Cargo.lock
!composer.lock

# Always Version .keep and .gitkeep files
!.gitkeep
!.keep
