# Vendored Dependencies
access
bower_components
disk_images
node_modules
site/web/app/mu-plugins
site/web/app/plugins
site/web/wp
vendor

# OS Files
.DS_Store
Thumbs.db

# Testing Files
*.gemfile.lock
capybara*
pickle-email-*.html
public/assets
public/uploads
rerun.txt
site/web/app/uploads
test/data

# Cache Files
*.tfstate
.byebug_history
.divshot-cache
.rake_tasks
.sass-cache
.yardoc
_yardoc
disk_image_for_*.json
disk_image_settings.json
lambdas/*.js
lambdas/*.py
lambdas/*.zip
packer_cache
public/system
site/web/app/upgrade
spec/reports
tags
terraform.tfvars
tmtags
variables.sls
variables.tf.json

# Local Compiled Files
**/public/stylesheets/*.css
*.a
*.o
*.rbc
*.so
coverage
coverage.data
dist
docs
files/scripts/**/*.js
files/scripts/**/*.py
files/scripts/**/*.zip
pkg
rdoc

# Local Configuration Files
!.env.example
*.bundle
*.project
*.tmproj
.bundle
.chamber.pem
.chamber.pem.enc
.env
.env.yml
.foreman
.htaccess
.idea
.railsrc
.rspec
.rvmrc
.secrets
.shellwreck.sh
.terraform
Gemfile.local
config.yml
config/database.yml
config/secrets.yml
nbproject

# Temporary files
*.backup
*.bak
*.lock
*.log*
*.old
*.orig
*.sqlite3
*.sqlite3-journal
*.swo
*.swp
*~
.\#*
\#*
db-sync
dump.rdb
log
sql-dump-*.sql
tmp

# Vagrant
.vagrant

# Always keep Gemfile.lock
!Gemfile.lock
!composer.lock

# Always Version .keep and .gitkeep files
!.gitkeep
!.keep
