language: ruby
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0
  - 2.1
  - 2.2
  - 2.3.0
  - 2.3.8
  - 2.4.0
  - 2.4.6
  - 2.5.5
  - 2.6.3
before_install:
  - gem update bundler
script: bundle exec rspec
notifications:
  slack:
    rooms:
      - thekompanee:p46x27zMG89XW66DgGuutoaW#open-source
