---

name:                             "Build"

on:
  - "push"
  - "pull_request"

jobs:
  test:
    name:                         "Testing"
    runs-on:                      "ubuntu-latest"

    strategy:
      fail-fast:                  false

      matrix:
        ruby:
          - "2.1"
          - "2.2"
          - "2.3"
          - "2.4"
          - "2.5"
          - "2.6"
          - "2.7"
          - "3.0"
          - "3.1"
          - "3.2"
          - "3.3"
          - "3.4"
          - "ruby-head"
        include:
          - ruby:                 "2.1"
            bundler:              "1"

          - ruby:                 "2.2"
            bundler:              "1"

          - ruby:                 "2.3"
            bundler:              "2.3"

          - ruby:                 "2.4"
            bundler:              "2.3"

          - ruby:                 "2.5"
            bundler:              "2.3"

          - ruby:                 "2.6"
            bundler:              "2.4"

          - ruby:                 "2.7"
            bundler:              "2.4"

          - ruby:                 "3.0"
            bundler:              "2.4"

          - ruby:                 "3.1"
            bundler:              "2.4"

          - ruby:                 "3.2"
            bundler:              "2.7"

          - ruby:                 "3.3"
            bundler:              "2.7"

          - ruby:                 "3.4"
            bundler:              "4.0"

          - ruby:                 "ruby-head"
            bundler:              "4.0"

    continue-on-error: ${{ endsWith(matrix.ruby, 'head') }}

    env:
      BUNDLE_GEMFILE:             "./gemfiles/v${{ matrix.bundler }}/Gemfile"

    steps:
      - name:                     "Checkout Code"
        uses:                     "actions/checkout@v3"
        timeout-minutes:          5
        with:
          fetch-depth:            0

      - name:                     "Build Ruby"
        uses:                     "ruby/setup-ruby@v1"
        with:
          ruby-version:           "${{ matrix.ruby }}"
          bundler:                "${{ matrix.bundler }}"
          bundler-cache:          true

      - name:                     "Run RSpec"
        run:                      |
          bundle exec rspec
